.row h1 {
    font-style: italic;
    background-color: black;
    color: navy;
}
.container {
    background-image: image();
}
p {
    font-size: larger;
    color:firebrick;   
}

img {
    float: left;
}
p2 img{
   float:right; 
}
