.row h1 {
    font-style: italic;
    background-color: black;
    color: navy;
}
.container {
    background-image: image();
}
.container {
    padding-right: 55px;
    padding-left: 5px;
    margin-right: initial;
    margin-left: auto;}
p {
    font-size: larger;
    color:firebrick;   
}

img {
    float: left;
}
p2 img{
   float:right; 
}
